html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-color: #cbced4; */
}

.title {
  text-align: center;
}

.map-display-window {
  position: relative;
  height: 80%;
  width: 80%;
  max-height: 500px;
  max-width: 980px;
  margin: auto;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
